<table class="table" *ngIf="addressList.length > 0">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of addressList;">
        <th scope="row">{{contact.id}}</th>
        <td>{{contact.fname}}</td>
        <td>{{contact.lname}}</td>
        <td>{{contact.email}}</td>
        <td>{{contact.phone}}</td>
        <td>{{(contact.isActive == 'Y') ? 'Active': 'Inactive'}}</td>
        <td>
            <a [routerLink]="['/edit-contact', contact.id]" class="btn btn-primary">Edit</a>&nbsp;
            <button type="button" class="btn btn-danger" (click)="deleteContact(contact.id)">Delete</button>
        </td>
      </tr>
    </tbody>
</table>

<h4 id="inner" *ngIf="addressList.length == 0">No contacts</h4>