<div id="inner">
    <div><h2>Edit Contact</h2></div>
    <div class="col-6 alert alert-success" *ngIf="success">
        Contact updated successfully...
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <div class="form-group">
          <label>First Name</label>
          <div class="col-6">
              <div>
                <input formControlName="fname" type="text" class="form-control">
              </div>
              <div class="error" *ngIf="submitted && myForm.get('fname').hasError('required')">Required</div>
          </div>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <div class="col-6">
              <div><input formControlName="lname" type="text" class="form-control"></div>
              <div class="error" *ngIf="submitted && myForm.get('lname').hasError('required')">Required</div>
          </div>
        </div>
        <div class="form-group">
            <label>Email</label>
            <div class="col-6">
                <div><input formControlName="email" type="text" class="form-control"></div>
                <div class="error" *ngIf="submitted && myForm.get('email').hasError('required')">Required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <div class="col-6">
                <div><input formControlName="phone" type="text" class="form-control"></div>
                <div class="error" *ngIf="submitted && myForm.get('phone').hasError('required')">Required</div>
            </div>
        </div>
        <div class="form-group">
            <label>Status</label>&nbsp;
            <div>
                <input formControlName="isActive" type="radio" value="Y">Active
                <input formControlName="isActive" type="radio" value="N">Inactive
            </div>
            <div class="error" *ngIf="submitted && myForm.get('isActive').hasError('required')">Required</div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>&nbsp;
        </div>
    </form>

</div>